# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
.turbo/
*.tsbuildinfo

# Prisma
packages/db/prisma/*.db
packages/db/prisma/migrations/dev/

# Local file storage (LocalDiskStorage adapter)
.storage/

# Env & secrets
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Test / coverage
coverage/
